
[Common]
tmp

[Mac]
.DS_Store

[IDE]
.idea

[Maven]
target

[Android]
.gradle
*.iml
build
output
local.properties

[Node]
node_modules

[bower]
bower_components

[Python]
venv
**chache**

[docker]
volumes

[log]
*.log

**/fail2ban/data

volumes
afl_testcases
