# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html


[mysql.server]
default-character-set=utf8

[mysqld_safe]
default-character-set=utf8

[mysqld]
character_set_server=utf8
init_connect='SET NAMES utf8'

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8
